<% if store_integration('geniki_taxydromiki').present? %>
  <button class="text-left btn-light dropdown-item"
    data-controller="geniki-taxydromiki"
    data-action="geniki-taxydromiki#createVoucher"
    data-geniki-taxydromiki-order-id-value="<%= @order.id %>"
  >
    <%= icon "package" %>
    <%= Spree.t('admin.integrations.geniki_taxydromiki.create_voucher') %>
  </button>
<% end %>
<%# TODO: add options for print, cancel and finalize %>